%h3.title  
  %p
    =t("articles_in_auto_wiki") + ' ('
    =@count_cars 
    =t("of") + ' '
    =@count_all_cars 
    -if @count_cars<@count_all_cars
      =link_to t("all"), cars_path	
    )
- for item in @cars
  %br
  %strong=item.title
  -if item.wiki.length<300
    %p=item.wiki
  -else
    %p=item.wiki[0..300] 
    %p=link_to (t("detail"), 'wiki/'+item.title )
=link_to (t("add_car"), new_car_path)

