%h1 
  =t("listing_car")
%head
  = stylesheet_link_tag "pagination"
%body
  #pages.digg_pagination
    =will_paginate @cars, :container => false

  - for item in @cars
    %br
    %strong=item.title
    =excerpt(item.wiki,'is', :radius => 100) 
    %p
      =link_to(t("detail"), car_path(item.title))
      =link_to t("edit"), edit_car_path(item.title)
      =link_to t("delete"), item, :confirm => 'Are you sure?', :method => :delete
  %br
  = link_to t("add_car"), new_car_path
